<?php
/** @var $block Narushevich\GoogleBigQuery\Block\Adminhtml\Google\View */
$chartsList = $block->getChartsList();
sleep(10);
?>
<div style="align-content:center">
    <?php foreach ($chartsList as $chart): ?>
        <?php /** @var $chart \Narushevich\GoogleBigQuery\Model\AbstractChartModel */ ?>
        <div align="center">
            <canvas id="chart_<?php echo $chart->getDataGBTIdentifier() ?>"></canvas>
            <style>
                #chart_<?php echo $chart->getDataGBTIdentifier(); ?> {
                    max-width: 700px;
                    box-sizing: border-box;
                    width: 400px;
                    height: 150px;
                    align-content: center;
                }
            </style>
            <script type="text/javascript">
                requirejs(['jquery', 'chart'], function($) {
                    new Chart(document.getElementById("chart_<?php echo $chart->getDataGBTIdentifier(); ?>"), {
                        type: '<?php echo $chart->getChartType(); ?>',
                        data: {
                            labels: [<?php echo $chart->getChartLabels(); ?>],
                            datasets: [
                                {
                                    label: "<?php echo $chart->getLabel(); ?>",
                                    backgroundColor: ["#3e95cd"],
                                    data: [<?php echo $chart->getChartData(); ?>]
                                }
                            ]
                        }
                    });
                });
            </script>
        </div>
        <br/>
        <br/>
        <br/>
    <?php endforeach; ?>
</div>
